*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}
.content{
	padding: 20px;
}
.content ul{
	width: 100%;
	display: block;
	clear: both;
	overflow: auto;
	list-style: none;
}
.content ul li{
	float: left;
}
.content .search{
	text-indent: 1em;
	width: 330px;
	height: 35px;
	margin-right: 15px;
	border: 1px solid #e6e3e3;
	border-radius: 4px;
}
.ask-button{
	cursor: pointer;
	height: 35px;
	color: #fff;
    width: 70px;
    background-color: #0161BB;
    border-color: #0161BB;
    border: 1px solid #0161BB;
    margin:0 15px;
    border-radius: 4px;
    font-size: 14px;
}
.content .place{
	width: 110px;
	margin-right: 10px;
}
.add-button{
	cursor: pointer;
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    border: 1px solid #0161BB;
    border-radius: 4px;
    background-color: #FFFFFF;
    color: #0161BB;
    width: 70px;
    margin-left: 20px;
}
.reset-button{
	cursor: pointer;
	width: 70px;
	height: 35px;
	color: #FFFFFF;
	background-color: #a6a6a6;
	border: 1px solid #a6a6a6;
	border-radius: 4px;
	font-size: 14px;
}

.depart-table{
	width: 100%;
	table-layout:fixed;
	margin-top: 20px;
	border-right:1px solid #d9d9d9;
	border-bottom:1px solid #d9d9d9;
}
.depart-table tr{
	height: 45px;
}
.depart-table tr td{
	border-left:1px solid #d9d9d9;
	border-top:1px solid #d9d9d9;
}
.depart-table tr:first-child{
	background-color: #eaeaea;
}
.detail-button, .delete-button{
	width: 65px;
	height: 30px;
	color: #FFFFFF;
	font-family: "微软雅黑";
	font-size: 14px;
}
.detail-button{
	background-color: #bd4b53;
	border: 1px solid #BD4B53;
	margin-right: 10px;
	margin-left: 20px;
}
.delete-button{
	background-color: #a6a6a6;
	border: 1px solid #a6a6a6;
}

input[type=checkbox]  {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	margin-left: 5px;
	-webkit-appearance: none;
	background-color: transparent;
	border: 0;
	outline: 0 !important;
	line-height: 20px;
	color: #BD4B53;
	margin-left: 20px;
}

input[type=checkbox]:after  {
	content: "";
	display:block;
	width: 20px;
	height: 20px;
	text-align: center;
	border: 2px solid #BD4B53;
	border-radius: 4px;
	background-color: #fff;
	box-sizing:border-box;
}
input[type=checkbox]:checked:after  {
	background: url(../image/复选.png) no-repeat center center;
}

.depart-table-title{
	font-weight: bold;
	font-size: 15px;
	color: #636363;
	margin-left: 20px;
}
.depart-table-text{
	display: inline-block;
	margin-left: 15px;
	font-size: 15px;
	color: #595959;
}

.tcdPageCode {
	text-align: center;
	float: right;
	margin-top: 20px;
	overflow: auto;
	clear: both;
}
.tcdPageCode a {
	display: inline-block;
	height: 25px;
	vertical-align: middle;
	margin-right: 10px;
}
.tcdPageCode .pre{
	display: inline-block;
	width: 25px;
	height: 25px;
	background: url(../image/上一页.png) no-repeat center center;
	border: 1px solid #a6a6a6;
	margin-right: 10px;
}
.tcdPageCode .next{
	display: inline-block;
	width: 25px;
	height: 25px;
	background: url(../image/下一页.png) no-repeat center center;
	border: 1px solid #a6a6a6;
	margin-right: 10px;
}
.tcdPageCode a:hover {
	text-decoration: none;
}
.tcdPageCode span.current {
	display: inline-block;
	width: 25px;
	height: 25px;
	color: #fff;
	background-color: #0161BB;
	border: 1px solid #0161BB;
	vertical-align: middle;
	padding-top: 3px;
	margin-right: 10px;
	
}
.tcdPageCode .pageText{
	display: inline-block;
    color: #A6A6A6;
    font-size: 14px;
    border: 1px solid #A6A6A6;
    padding-top: 2px;
    height: 25px;
    width: 50px;
}
.tcdPageCode span.disabled {
	display: inline-block;
	height: 25px;
	color: #A6A6A6;
	border: 1px solid #A6A6A6;
	vertical-align: middle;
}
.tcdPageCode .tcd{
	border: 1px solid #0161BB;
	color: #0161BB;
	padding-top: 3px;
	width: 25px;
	height: 25px;
}


.add-account-body{
	padding-top: 45px;
	padding-left: 35px;
	overflow: auto;
	width: 500px;
	background-color: #faf5f5;
	float: left;
	margin-bottom:30px ;
}

.add-account-body ul{
	clear: both;
	overflow: auto;
	list-style: none;
}
.add-account-body ul li{
	float: left;
}
.add-account-text{
	height: 57px;
	padding-top:6px ;
	display: inline-block;
	width:95px;
	font-size: 13px;
	color:#595959 ;
}
.form3{
	width: 350px;
	height: 35px;
	border-radius: 2px;
	border: 1px solid #d9d9d9;
}
.save-button{
	margin-top: 20px;
	margin-left: 220px;
	width: 80px;
	height: 30px;
	border: 1px solid #bd4b53;
	font-size: 14px;
	background-color: #bd4b53;
	color: #FFFFFF;
}
.bottom-ul{
	margin-bottom: 30px;
}



.left {
    box-sizing: border-box;
    position: relative;
    top: 6px;
    width: 0;
    height: 0;
    border-top: .8em solid transparent;
    border-right: .9em solid #BD4B53;
    border-bottom: .8em solid transparent;
    display: inline-block;
}
.left:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0; /*在绝对定位中，top: 0; bottom: 0; margin: auto; 结合使用能竖直居中*/
    left: .7em;
    margin: auto;
    width: 1.3em;
    height: .7em;
    background-color: #BD4B53;
}
.goBack{
	color: #BD4B53;
	padding-left: 20px;
}
.icon{
	line-height: 28px;
	cursor: pointer;
	width: 107px;
	margin-bottom: 20px;
}

.content2 a:link{
	text-decoration: none;
}
.content2 a:visited{
	text-decoration: none;
}
.content2 a:hover{
	text-decoration: none;
}

.content2, .content3{
	padding: 20px;
}

.content3 a:link{
	text-decoration: none;
}
.content3 a:visited{
	text-decoration: none;
}
.content3 a:hover{
	text-decoration: none;
}

.import input{
	width: 65px;
    height: 35px;
    position: absolute;
    right: 22px;
    top: 25px;
    opacity: 0;
    cursor: pointer;
}

