* {
    margin: 0;
    padding: 0;
    text-align: center;
}

ul li {
    list-style: none;
    border: 1px solid #efefef;
    margin: 0 5px 10px 5px;
    padding: 0!important;
    min-height: 210px!important;
    overflow: hidden;
    border-radius: 6px;
}

h4 {
    padding: 15px 10px;
    margin: 0;
    color: #fff;
    font-size: 16px;
    text-align: left;
}

.userTitle {
    background-color: #2DB048;
}

.feedTitle {
    background-color: #EF8D36;
}

.activityTitle {
    background-color: #59B6C4;
}

.msgTitle {
    background-color: #E46D6D;
}

.userNum {
    color: #2DB048;
}

.feedNum {
    color: #EF8D36;
}

.activityNum {
    color: #59B6C4;
}

.msgNum {
    color: #E46D6D;
}

.statisNum {
    padding: 15px 0;
    text-align: center;
}

.statisNum p span {
    font-size: 36px;
}

.statisFooter {
    display: flex;
    justify-content: space-around;
    padding: 5px 0;
    border-top: 1px solid #efefef;
}

hr {
    width: 1px;
    height: 50px;
    margin: 0;
    background-color: #efefef;
}