*{
	font-family: "微软雅黑";
}

.tm-detail{
	width: 570px;
	padding-top: 45px;
	padding-left: 35px;
	clear: both;
	overflow: auto;
	background-color: #faf5f5;
}
.tm-detail ul{
	list-style: none;
	overflow: auto;
	clear: both;
}
.tm-detail ul li{
	float: left;
}

.tm-detail-body{
	width: 100%;
	padding-top: 45px;
	padding-left: 35px;
	clear: both;
	overflow: auto;
	background-color: #faf5f5;
}
.tm-detail-body ul{
	list-style: none;
	overflow: auto;
	clear: both;
}
.tm-detail-body h4{
	font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 10px;
}
.tm-detail-body ul li{
	float: left;
}
.teacher-submit-table{
	width: 100%;
}
.teacher-submit-table tr th{
	color: #FFFFFF;
	background-color: #e17c83;
}
.teacher-submit-table tr:nth-child(even){
	background: #f9efef;
}
.teacher-submit-table tr:nth-child(odd){
	background: #FFFFFF;
}
.teacher-submit-table tr{
	height: 50px;
}
.table-bordered {
    border: 1px solid #f2dbdd;
}
.sub-detail-button{
	display: inline-block;
	cursor: pointer;
	width: 100px;
	height: 35px;
	border: 1px solid #e17c83;
	text-align: center;
    padding-top: 6px;
    color: #e17c83;
    margin-left: 10px;
}
.teacher-submit-title, .teacher-submit-text{
	display: inline-block;
	margin-top: 6px;
	margin-left: 10px;
}

.teacher-save-button{
	width: 80px;
    height: 30px;
    border: 1px solid #bd4b53;
    font-size: 14px;
    background-color: #bd4b53;
    color: #FFFFFF;
    margin-left: 120px;
    margin-bottom: 40px;
    margin-top: -10px;
}

.teacher-button{
	position: relative;
    width: 57px;
    height: 34px;
    border: 1px solid #bd4b53;
    font-size: 13px;
    background-color: #bd4b53;
    color: #FFFFFF;
    right: 58px;
}
